<footer class="footer">
	<div class="row">
		<ul class="footer-icons">
			{% for account in site.data.social.footer %}
				{% if account.name == 'twitter' %}<li><a href="https://twitter.com/DeanilVincent03" class="icon-twitter" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li> {% endif %}
				{% if account.name == 'github' %}<li><a href="https://github.com/deanilvincent" class="icon-github" target="_blank"><svg class="icon icon-social-github"><use xlink:href="#icon-social-github"></use></svg></a></li> {% endif %}
				{% if account.name == 'google' %}<li><a href="https://plus.google.com/u/0/110691529332974159105" class="icon-google-plus-square" target="_blank"><svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a></li> {% endif %}
				{% if account.name == 'facebook' %}<li><a href="https://www.facebook.com/deanilvincent13" class="icon-facebook" target="_blank"><svg class="icon icon-social-facebook-circular"><use xlink:href="#icon-social-facebook-circular"></use></svg></a></li> {% endif %}
			{% endfor %}
		</ul>

		<small class="footer-text tc">2018</small>
	</div>
</footer>
