---
layout: blog
type: blog
blogroll: true
---
<style>
	h2 a{
	color: #1F4788;
	}
</style>

<div class="post-snippet row">
	<div class="post-date">
		<span>3 July</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="//2017/07/03/simple-weather-app-in-xamarin-forms-with-mvvm-using-weather-api-part1">Simple Weather App in Xamarin Forms with MVVM using Weather API Part 1</a></h2>
		<p>This post will help you getting started in creating simple weather app in xamarin forms connected on a weather api<a href="//2017/07/03/simple-weather-app-in-xamarin-forms-with-mvvm-using-weather-api-part1" class="post-more">...read more</a></p>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>10 June</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/06/10/creating-simple-xamarin-forms-crud-app-with-realmdb-and-mvvm-part2">Creating Simple Xamarin Forms Crud App with RealmDB and MVVM Part 2</a></h2>
		<p>This is the part 2 or the continuation of "Creating Simple Xamarin Forms Crud App with RealmDB and MVVM<a href="/2017/06/10/creating-simple-xamarin-forms-crud-app-with-realmdb-and-mvvm-part2" class="post-more">...read more</a></p>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>09 June</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/06/09/creating-simple-xamarin-forms-crud-app-with-realmdb-and-mvvm-part1">Creating Simple Xamarin Forms Crud App with RealmDB and MVVM Part 1</a></h2>
		<p>In this post, we'll be creating simple Xamarin.Forms crud app with Realm Database and MVVM architectural design pattern. (Part 1)<a href="/2017/06/09/creating-simple-xamarin-forms-crud-app-with-realmdb-and-mvvm-part1" class="post-more">...read more</a></p>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>03 June</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/06/03/basic-understanding-of-mvvm-and-databinding-in-xamarin-forms">Basic Understanding How Data Binding and MVVM works in Xamarin Forms</a></h2>
		<p>This post will give you some insights how data binding and mvvm works in Xamarin Forms<a href="/2017/06/03/basic-understanding-of-mvvm-and-databinding-in-xamarin-forms" class="post-more">...read more</a></p>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>26 May</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/05/26/how-to-use-xamarin-live-player-in-visual-studio-for-windows">How to Use Xamarin Live Player in Visual Studio for Windows</a></h2>
		<p>This post will help you how to use the Xamarin Live Player on your installed Visual Studio 2017 v.15.3 with updated Xamarin for Visual Studio<a href="/2017/05/26/how-to-use-xamarin-live-player-in-visual-studio-for-windows" class="post-more">...read more</a></p>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>26 May</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/05/26/how-to-set-up-xamarin-live-player-in-visual-studio-for-windows">How To Set Up Xamarin Live Player in Visual Studio for Windows</a></h2>
		<p>I'll show you some steps on how to setup xamarin live player in Visual Studio 2017 v.15.3<a href="/2017/05/26/how-to-set-up-xamarin-live-player-in-visual-studio-for-windows" class="post-more">...read more</a></p>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>16 May</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/05/16/xamarin-forms-simple-login-with-rest-api">Xamarin Forms Simple Login With Rest API</a></h2>
		<p>If you're using asp.net web api or you want to apply this api snippets and add some logic to your xamarin forms login system, this post is very helpful <a href="/2017/05/16/xamarin-forms-simple-login-with-rest-api" class="post-more">...read more</a></p>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>16 May</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/05/16/steps-in-creating-basic-aspnet-web-service-api">Steps in Creating Basic ASP.NET Web Service API</a></h2>
		<p>Here are the basic steps on how to create your first web api using ASP.NET MVC<a href="/2017/05/16/steps-in-creating-basic-aspnet-web-service-api" class="post-more">...read more</a></p>
	</div>
</div>
<!--
{% for post in paginator.posts %}
<div class="post-snippet row">
	<div class="post-date">
		<span>{{ post.date | date: "%d %b"}}</span>
		<span>{{ post.date | date: "%Y"}}</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h2>
		<p>{{ post.snippet }} <a href="{{ post.url | prepend: site.url }}" class="post-more">...read more</a></p>
	</div>
</div>
{% endfor %}
-->
<!-- Pagination links -->
{% if paginator.total_pages > 0 %}
<div class="pagination row">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous icon-font icon-navigate-before"></a>
	{% else %}
		<a href="javascript:;" class="previous icon-font icon-navigate-before disabled"></a>

	{% endif %}

	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next icon-font icon-navigate-next"></a>
	{% else %}
		<a href="javascript:;" class="next icon-font icon-navigate-next disabled"></a>
	{% endif %}
</div>
{% endif %}
