---
layout: blog
type: blog
blogroll: true
---
<style>
	h2 a {
		color: #1F4788;
	}
</style>

<div class="post-snippet row">
	<div class="post-date">
		<span>30 Nov.</span>
		<span>2020</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header">
			<a href="/2020/11/30/how-to-get-enum-display-name-in-csharp-net/">
				How to get Enum Display Name in C# .NET
			</a></h2>
		<p>In this blog, I'll show you a basic extension method that you can use to get the... <a
			href="/2020/11/30/how-to-get-enum-display-name-in-csharp-net/">
				...read more</a></p>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>24 Jul.</span>
		<span>2020</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header">
			<a href="/2020/07/24/how-to-deploy-vue-js-app-on-azure-using-vscode/">
				How to Deploy Vue.JS App on Azure using Visual Studio Code
			</a></h2>
		<p>Deploying Vue.JS on Azure App service made easy using an extension. In this blog, I'm going to show you how you can create an app service and... <a
			href="/2020/07/24/how-to-deploy-vue-js-app-on-azure-using-vscode/">
				...read more</a></p>
		<strong><a href="/blog/vuejs/">#vue.js</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>26 Jun.</span>
		<span>2020</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2020/06/26/how-to-get-the-current-runid-using-mlflow-in-azure-databricks/">How to Get the Current Run ID using MLFlow in Azure Databricks</a></h2>
		<p>In this blog post, you will learn how easy to get the run ID in your current Azure Databricks Notebook. <a href="/2020/06/26/how-to-get-the-current-runid-using-mlflow-in-azure-databricks/" class="post-more">...read more</a></p>
		<strong><a href="/blog/machinelearning/">#machinelearning</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>22 Nov.</span>
		<span>2019</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header">
			<a href="/2019/11/22/seed-users-and-roles-in-asp-net-core-with-entity-framework-core/">
				Seed Users & Roles in ASP.NET Core with Entity Framework (EF) Core
			</a></h2>
		<p>Seeding of users & roles in ASP.NET Core with EF Core made easy. In this blog, I'm going to show you how you can implement a basic seeding of users and roles for your ASP.NET Core app. <a href="/2019/11/22/seed-users-and-roles-in-asp-net-core-with-entity-framework-core/" class="post-more">...read more</a></p>
		<strong><a href="/blog/aspnet/">#asp.net</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>20 Sep.</span>
		<span>2019</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header">
			<a href="/2019/09/27/how-to-setup-postgresql-in-asp-net-core/">
				How to Setup PostgreSQL in ASP.NET Core App
			</a></h2>
		<p>In this article, I'm going to help you how to install and use PostgreSQL (an alternative open-source object-relational database management system) in your ASP.NET Core App. <a href="/2019/09/27/how-to-setup-postgresql-in-asp-net-core/" class="post-more">...read more</a></p>
		<strong><a href="/blog/aspnet/">#asp.net</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>20 Sep.</span>
		<span>2019</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header">
			<a href="/2019/09/20/setting-up-automapper-in-aspnet-core/">
				Setting Up AutoMapper in ASP.NET Core Project
			</a></h2>
		<p>In this blog, I'll show you how to install and implement AutoMapper in your ASP.NET Core project. <a href="/2019/09/20/setting-up-automapper-in-aspnet-core/" class="post-more">...read more</a></p>
		<strong><a href="/blog/aspnet/">#asp.net</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>19 Jul.</span>
		<span>2019</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header">
			<a href="/2019/07/14/host-vue-js-app-on-iis/">
				Host Vue.JS App on IIS
			</a></h2>
		<p>Today I'm going to help you (with simple steps) how to host your vue.js app on IIS. <a
				href="/2019/07/14/host-vue-js-app-on-iis/">
				...read more</a></p>
		<strong><a href="/blog/iis/">#iis</a></strong>
		<strong><a href="/blog/vuejs/">#vue.js</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>23 Jun.</span>
		<span>2018</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header">
			<a
				href="/2018/06/23/publish-and-host-asp-net-core-app-on-windows-services-using-self-contained-application-for-windows/">
				Publish & Host ASP.NET Core App on Windows Services using Self-Contained Application for Windows
			</a></h2>
		<p>Today I'm going to teach how to publish your ASP.NET Core 2.1 app on Windows Service using self-contained
			application for windows. <a
				href="/2018/06/23/publish-and-host-asp-net-core-app-on-windows-services-using-self-contained-application-for-windows/"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/aspnet/">#asp.net</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>12 Jan.</span>
		<span>2018</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a
				href="https://deanilvincent.github.io/2018/01/12/steps-in-creating-simple-but-dynamic-powerful-web-app-using-asp-net-core-mvc-connected-to-a-database/">Steps
				in Creating Simple But Dynamic Powerful Web App using ASP.NET Core MVC connected to a Database</a></h2>
		<p>This blog post will help you to create a simple but dynamic powerful web app powered by ASP.NET Core that is
			connected with MS Sql Server <a
				href="/2017/11/10/how-to-install-and-setup-maps-and-geolocation-to-your-cross-platform-project/"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/aspnet/">#asp.net</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>10 Nov.</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a
				href="/2017/11/10/how-to-install-and-setup-maps-and-geolocation-to-your-cross-platform-project/">How to
				Install and Setup Maps and Geolocation to your Cross Platform Project</a></h2>
		<p>This blog post will help you to install and setup maps and geolocation to your cross platform project. <a
				href="/2017/11/10/how-to-install-and-setup-maps-and-geolocation-to-your-cross-platform-project/"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>30 Sept.</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a
				href="/2017/09/30/implementing-simple-local-notification-in-xamarin-forms">Implementing Simple Local
				Notification in Xamarin Forms</a></h2>
		<p>In this blog post, I'm going to show you how to implement simple local notification in xamarin forms.<a
				href="/2017/09/30/implementing-simple-local-notification-in-xamarin-forms" class="post-more">...read
				more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>3 July</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a
				href="/2017/07/03/simple-weather-app-in-xamarin-forms-with-mvvm-using-weather-api-part1">Simple Weather
				App in Xamarin Forms with MVVM using Weather API Part 1</a></h2>
		<p>This post will help you get started in creating simple weather app in xamarin forms connected on a weather
			api<a href="/2017/07/03/simple-weather-app-in-xamarin-forms-with-mvvm-using-weather-api-part1"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>3 July</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a
				href="/2017/07/03/simple-weather-app-in-xamarin-forms-with-mvvm-using-weather-api-part2">Simple Weather
				App in Xamarin Forms with MVVM using Weather API Part 2</a></h2>
		<p>This is the continuation of the "Simple Weather App in Xamarin Forms with MVVM using Weather API Part 1"
			where we are going to do the back-end development<a
				href="/2017/07/03/simple-weather-app-in-xamarin-forms-with-mvvm-using-weather-api-part2"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>3 July</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a
				href="/2017/07/03/simple-weather-app-in-xamarin-forms-with-mvvm-using-weather-api-part3">Simple Weather
				App in Xamarin Forms with MVVM using Weather API Part 3</a></h2>
		<p>This is the continuation of the "Simple Weather App in Xamarin Forms with MVVM using Weather API Part 2"
			where we will start putting our UI design for our simple weather app<a
				href="/2017/07/03/simple-weather-app-in-xamarin-forms-with-mvvm-using-weather-api-part3"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>09 June</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a
				href="/2017/06/09/creating-simple-xamarin-forms-crud-app-with-realmdb-and-mvvm-part1">Creating Simple
				Xamarin Forms Crud App with RealmDB and MVVM Part 1</a></h2>
		<p>In this post, we'll be creating simple Xamarin.Forms crud app with Realm Database and MVVM architectural
			design pattern. (Part 1)<a
				href="/2017/06/09/creating-simple-xamarin-forms-crud-app-with-realmdb-and-mvvm-part1"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>10 June</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a
				href="/2017/06/10/creating-simple-xamarin-forms-crud-app-with-realmdb-and-mvvm-part2">Creating Simple
				Xamarin Forms Crud App with RealmDB and MVVM Part 2</a></h2>
		<p>This is the part 2 or the continuation of "Creating Simple Xamarin Forms Crud App with RealmDB and MVVM<a
				href="/2017/06/10/creating-simple-xamarin-forms-crud-app-with-realmdb-and-mvvm-part2"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>03 June</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/06/03/basic-understanding-of-mvvm-and-databinding-in-xamarin-forms">Basic
				Understanding How Data Binding and MVVM works in Xamarin Forms</a></h2>
		<p>This post will give you some insights how data binding and mvvm works in Xamarin Forms<a
				href="/2017/06/03/basic-understanding-of-mvvm-and-databinding-in-xamarin-forms"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>26 May</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/05/26/how-to-use-xamarin-live-player-in-visual-studio-for-windows">How to
				Use Xamarin Live Player in Visual Studio for Windows</a></h2>
		<p>This post will help you how to use the Xamarin Live Player on your installed Visual Studio 2017 v.15.3 with
			updated Xamarin for Visual Studio<a
				href="/2017/05/26/how-to-use-xamarin-live-player-in-visual-studio-for-windows" class="post-more">...read
				more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>26 May</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/05/26/how-to-set-up-xamarin-live-player-in-visual-studio-for-windows">How
				To Set Up Xamarin Live Player in Visual Studio for Windows</a></h2>
		<p>I'll show you some steps on how to setup xamarin live player in Visual Studio 2017 v.15.3<a
				href="/2017/05/26/how-to-set-up-xamarin-live-player-in-visual-studio-for-windows"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>16 May</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/05/16/xamarin-forms-simple-login-with-rest-api">Xamarin Forms Simple
				Login With Rest API</a></h2>
		<p>If you're using asp.net web api or you want to apply this api snippets and add some logic to your xamarin
			forms login system, this post is very helpful <a href="/2017/05/16/xamarin-forms-simple-login-with-rest-api"
				class="post-more">...read more</a></p>
		<strong><a href="/blog/xamarin/">#xamarin</a></strong>
	</div>
</div>

<div class="post-snippet row">
	<div class="post-date">
		<span>16 May</span>
		<span>2017</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2017/05/16/steps-in-creating-basic-aspnet-web-service-api">Steps in Creating
				Basic ASP.NET Web Service API</a></h2>
		<p>Here are the basic steps on how to create your first web api using ASP.NET MVC<a
				href="/2017/05/16/steps-in-creating-basic-aspnet-web-service-api" class="post-more">...read more</a></p>
		<strong><a href="/blog/aspnet/">#asp.net</a></strong>
	</div>
</div>
<!--
{% for post in paginator.posts %}
<div class="post-snippet row">
	<div class="post-date">
		<span>{{ post.date | date: "%d %b"}}</span>
		<span>{{ post.date | date: "%Y"}}</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h2>
		<p>{{ post.snippet }} <a href="{{ post.url | prepend: site.url }}" class="post-more">...read more</a></p>
	</div>
</div>
{% endfor %}
-->
<!-- Pagination links -->
{% if paginator.total_pages > 0 %}
<div class="pagination row">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" class="previous icon-font icon-navigate-before"></a>
	{% else %}
	<a href="javascript:;" class="previous icon-font icon-navigate-before disabled"></a>

	{% endif %}

	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next icon-font icon-navigate-next"></a>
	{% else %}
	<a href="javascript:;" class="next icon-font icon-navigate-next disabled"></a>
	{% endif %}
</div>
{% endif %}