---
layout: blog
type: blog
blogroll: true
---
<style>
	h2 a{
	color: #1F4788;
	}
</style>

<div class="post-snippet row">
	<div class="post-date">
		<span>26 Jun.</span>
		<span>2020</span>
	</div>

	<div class="post-summary">
		<h2 class="post-header"><a href="/2020/06/26/how-to-get-the-current-runid-using-mlflow-in-azure-databricks/">How to Get the Current Run ID using MLFlow in Azure Databricks</a></h2>
		<p>In this blog post, you will learn how easy to get the run ID in your current Azure Databricks Notebook. <a href="/2020/06/26/how-to-get-the-current-runid-using-mlflow-in-azure-databricks/" class="post-more">...read more</a></p>
		<strong><a href="/blog/machinelearning/">#machinelearning</a></strong>
	</div>
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 0 %}
<div class="pagination row">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous icon-font icon-navigate-before"></a>
	{% else %}
		<a href="javascript:;" class="previous icon-font icon-navigate-before disabled"></a>

	{% endif %}

	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next icon-font icon-navigate-next"></a>
	{% else %}
		<a href="javascript:;" class="next icon-font icon-navigate-next disabled"></a>
	{% endif %}
</div>
{% endif %}
