---
layout: blog
---
<style>
.image-container{
	width: 20%;
	float:left;
}
.desc-container{
	width: 80%;
	float:left;
}
.badges-content{
    width: 100%;
}
.badges-section{
    margin: 0 auto;
}
.xamarinplanet{
    float:left;
}
.mvp{
    float: left;
}
@media only screen and (max-width: 779px){
	.image-container { width: 100% }
    .desc-container { width: 100%; }
    .badges-content {width: 100%;}
}
</style>

<div class="post-wrapper">
<p class="post-date">{{ page.date | date: "%A, %-d %B %Y"}}</p>
<h1 class="post-title">{{ page.title }}</h1>
<img class="post-header" src="{{ page.header_image }}" alt="{{ page.header_image_alt }}">
<div class="post-content">
{{ content }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- For Blog -->
<!--
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1252568031878890"
     data-ad-slot="7066107369"
     data-ad-format="auto"></ins>
-->
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<hr />
<div class="image-container">
    <img src="https://avatars2.githubusercontent.com/u/10904957?v=3&u=48dd49c480ae8f1074b9d205bfbd81db1be7db76&s=400" height="130" width="130"/>
</div>
<div class="desc-container">
    <div class="intro-text">
        <div class="row">
            <strong>About the author:</strong> Mark Deanil Vicente is passionate in sharing to the community by means of writing article & speaking about .net technologies especially in Mobile .Net Development. He's also an active Microsoft Most Value Professional (MVP). <a href="https://deanilvincent.github.io/">read more</a>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<br />
<div class="badges-content">
    <div class="badges-section">
        <a href="https://www.planetxamarin.com/"><img src="https://user-images.githubusercontent.com/10904957/32498158-d2d6d4b6-c409-11e7-9743-8d84ad06551b.png" class="xamarinplanet" height="130" width="280"/></a>
        <a href="https://mvp.microsoft.com/en-us/PublicProfile/5002860"><img src="https://user-images.githubusercontent.com/10904957/32498179-e140d6c8-c409-11e7-85a6-945dbf5a47f4.jpg" class="mvp" height="130" width="280"/></a>
    </div>
</div>
<div style="clear:both"></div>
<!--
<a href="http://api.hostinger.ph/redir/4940289" target="_blank"><img src="http://www.hostinger.ph/banners/ph/hostinger-728x90-1.gif" alt="Free Hosting" border="0" width="728" height="90" /></a>	
-->
<!-- Share -->
{% if site.data.social.share %}
<div class="share tc">
    <span class="share-label tup">Share</span>
    {% for account in site.data.social.share %}
    	{% if account.name == 'twitter' %}<a href="https://twitter.com/share?link={{ page.url | prepend: site.url | uri_escape }}{% if account.name == 'twitter' and account.via %}&via={{account.via}}{% endif %}&text={{ page.title }}" target="_blank" class="share-link"><span class="share-icon"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></span></a>
    	{% endif %}

    	{% if account.name == 'facebook' %}<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | uri_escape }}" target="_blank" class="share-link"><span class="share-icon"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></span></a>
		{% endif %}

		{% if account.name == 'google' %}<a href="https://plus.google.com/share?url={{ page.url | prepend: site.url | uri_escape }}" class="share-link" target="_blank"><span class="share-icon"><svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></span></a>
		{% endif %}

    {% endfor %}
</div>
{% endif %}
<hr />
<!-- Next and previous page links -->
<div class="pagination in-post">
{% if page.previous %}
    <a href="{{ site.url }}{{ page.previous.url }}" class="previous-page-link">{{ page.previous.title }}</a>
{% endif %}

{% if page.next %}
    <a href="{{ site.url }}{{ page.next.url }}" class="next-page-link">{{ page.next.title }}</a>
{% endif %}
</div>

<!-- Disqus -->
{% include disqus.html %}
